body {
    padding-top: 85px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}



.navbar-inverse {
    color: #285e8e;
    background-color: #ffffff;
    border-color: #285e8e;
     border-width: 0 0 2px;
}

.navbar-inverse .navbar-nav > li > a:hover,
.navbar-inverse .navbar-nav > li > a:focus {
  color: #285e8e;
  background-color: transparent;
}

.navbar-inverse .navbar-toggle .icon-bar {
    background-color: #285e8e;
}


.col-centered {
    float: none;
    margin: 0 auto;
}

.loginBanner{
   width:560px;
   height:396px;
}

.loginModule {
    border: 1px solid #D4D4D4;
    padding: 10px 20px;
     height:396px;
}


